// Navigation code here
// Navigation Styles: Use the navigation.less file for styling.

nav {
  background-color: #f4f4f4;
  padding-bottom: 5px;
  .headline {
    width: 100%;
    text-align: center;
    padding: 10px;
  }
  .container {
    .flexcenter;
  }
  a {
    font-size: 1.6rem;
    padding: 5px 15px;
    text-decoration: none;
    color: @header-font-color;
  }
}
